{# @copyright   Copyright (C) 2010-2022 Combodo SARL #}
{# @license     http://opensource.org/licenses/AGPL-3.0 #}

<fieldset class="ibo-oauth-wizard--mailbox--panel ibo-oauth-wizard--result--panel">
    <legend>{{ 'UI:OAuthEmailSynchro:Wizard:ResultConf:Panel:Title'|dict_s }}</legend>
    <p>{{ 'UI:OAuthEmailSynchro:Wizard:ResultConf:Panel:Description'|dict_s }}</p>
    <a id="ibo-oauth-wizard--mailbox--button" data-role="ibo-button" href="" target="_blank">
        <span class="ibo-button--label">{{ 'UI:OAuthEmailSynchro:Wizard:ResultConf:Panel:CreateNewMailbox'|dict_s }}</span>
    </a>
</fieldset>